.key_adv_container {
  background: rgba(243, 136, 68, 0.15);
  padding-top: 20px;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.key_adv_wrapper {
display: flex;
width: 100%;
flex-direction: column;
}
.key_adv_heading {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #2a2a2a;
  margin-top: 20px;
  margin-bottom: 20px;
}
.key_adv_para {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: rgba(72, 72, 72, 0.67);
  margin-bottom: 20px;

}
.key_adv_card_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

